<ion-header>
  <ion-toolbar>
    <ion-title>Informacion  </ion-title>
  </ion-toolbar>
</ion-header>
      
<ion-content>
  <h1> Informacion General de la Aplicación</h1>

  
</ion-content>




<ion-footer>
  <ion-grid>
    <!--boton informacion -->
    <ion-button href="/informacion" style="padding: 5px;" class="botones">Informacion General</ion-button>

    <ion-button href="/informacion" class="iconos">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-button>

    <!--boton inicio -->
    <ion-button href="/home" style="padding: 5px;" class="botones">Inicio</ion-button>

    <ion-button href="/home" class="iconos ">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>

    <!--boton novedades  -->
    <ion-button href="/novedades" style="padding: 5px; " class="botones">Novedades</ion-button>

    <ion-button href="/novedades" class="iconos">
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-button>

  </ion-grid>
</ion-footer>
