<ion-header>
  <ion-toolbar>
    <ion-title>Pagina 2 - Moviles </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <br>
  <ion-item>

    <ion-label>Titulo: </ion-label>
    <ion-input [(ngModel)]="document.data.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descripcion : </ion-label>
    <ion-input [(ngModel)]="document.data.descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Precio : </ion-label>
    <ion-input [(ngModel)]="document.data.precio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fecha Salida : </ion-label>
    <ion-input [(ngModel)]="document.data.fecha"></ion-input>
  </ion-item>

  <ion-button (click)="clicBotonBorrar()"class="alerta">Borrar movil</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar Movil</ion-button>
  <ion-button (click)="clicBotonInsertar()">Insertar Movil</ion-button>

  <ion-list>
    <ion-item *ngFor="let documentMovil of arrayColeccionMoviles" (click)="selecMovil(documentMovil)">
      <ion-grid>
        <ion-row>
          <h2>{{documentMovil.data.titulo}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentMovil.data.descripcion}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

<ion-footer>
  <ion-grid>
    <!--boton informacion -->
    <ion-button href="/informacion" style="padding: 5px;" class="botones">Informacion General</ion-button>

    <ion-button href="/informacion" class="iconos">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-button>

    <!--boton inicio -->
    <ion-button href="/home" style="padding: 5px;" class="botones">Inicio</ion-button>

    <ion-button href="/home" class="iconos ">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>

    <!--boton novedades  -->
    <ion-button href="/novedades" style="padding: 5px; " class="botones">Novedades</ion-button>

    <ion-button href="/novedades" class="iconos">
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-button>

  </ion-grid>
</ion-footer>
