<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Moviles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-item>
    <ion-label>Título : </ion-label>
    <ion-input [(ngModel)]="movilEditando.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descripción :</ion-label>
    <ion-input [(ngModel)]="movilEditando.descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Precio :</ion-label>
    <ion-input [(ngModel)]="movilEditando.precio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fecha Salida : </ion-label>
    <ion-input [(ngModel)]="movilEditando.fecha"></ion-input>
  </ion-item>


  <ion-button (click)="clicBotonInsertar()">Añadir Móvil</ion-button>
  <ion-button (click)="clicBotonBorrar()" class="alerta">Borrar Móvil</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar Movil</ion-button>


<ion-list>
  <ion-item *ngFor="let documentMovil of arrayColeccionMoviles" (click)="selecMovil(documentMovil)+ navigateToMovil()">
    <ion-grid>
      <ion-row>
        <h2>{{documentMovil.data.titulo}}</h2>
      </ion-row>
      <ion-row>
        <p>{{documentMovil.data.descripcion}}</p>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

</ion-content>

<ion-footer>
  <ion-grid>
    <!--boton informacion -->
    <ion-button href="/informacion" style="padding: 5px;" class="botones">Informacion General</ion-button>

    <ion-button href="/informacion" class="iconos">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-button>

    <!--boton inicio -->
    <ion-button href="/home" style="padding: 5px;" class="botones">Inicio</ion-button>

    <ion-button href="/home" class="iconos ">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>

    <!--boton novedades  -->
    <ion-button href="/novedades" style="padding: 5px; " class="botones">Novedades</ion-button>

    <ion-button href="/novedades" class="iconos">
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-button>

  </ion-grid>
</ion-footer>